#exit{
    background-color:LightYellow;
    width: fit-content;
    border-color:black;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    padding-left:20px;
    padding-right:20px;
}