@font-face {
  font-family: Asimovian;
  src: url("/scenes/54/fonts/Asimovian.ttf");
}

@font-face {
  font-family: EpundaSlab;
  src: url("/scenes/54/fonts/EpundaSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: TulpenOne;
  src: url("/scenes/54/fonts/TulpenOne.ttf");
}

header {
  /*position: fixed;*/
  background-image: url("/scenes/54/images/header-bg.png");
  height: 80px;
  width: 100%;
  overflow: hidden;
}

.site {
  background-color: rgb(250, 141, 7);
  display: block;
  border-radius: 25px;
  outline-width: 3px;
  outline-style: solid;
  box-sizing: border-box;
  max-width: 23.3rem;
  overflow: hidden;
}

.travel-site {
  background-color: rgb(250, 141, 7);
  display: block;
  border-radius: 25px;
  outline-width: 3px;
  outline-style: solid;
  box-sizing: border-box;
  max-width: 23.3rem;
  overflow: hidden;
}

h1 {
  font-family: EpundaSlab;
  font-size: 60px;
  text-align: center;
}

#text,
i {
  font-family: EpundaSlab;
}

a {
  text-decoration: none;
}

#text-alt,
p,
h2,
h3,
h4,
h5,
h6 {
  font-family: Asimovian;
  text-align: center;
}

.grid {
  display: grid;
  gap: 1rem 1rem;
  justify-content: center;
  grid-template:
    "a b"
    "c d"
    "e f"
    "g h";
}

.grid-verticle {
  display: grid;
  gap: 1rem 1rem;
  justify-content: center;
  grid-template:
    "a"
    "b"
    "c"
    "d";
}

.text-with-margin {
  padding: 10px;
}

.site-image {
  overflow: hidden;
  border-radius: 25px;
  width: 100%;
}
