/* 8bitoperator-jve-latin */
@font-face {
	font-family: "8bitoperator JVE";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("8bitoperator JVE Regular"), local("8bitoperator-JVE"), url(8bitoperator-jve-latin.woff2) format("woff2"), url(8bitoperator-jve-latin.woff) format("woff");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: auto;
}

