.oldenburg-regular {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
}

.map {
  position: relative;      /* allows waypoints to sit on top */
  display: inline-block;   /* keeps everything together */
}

.map img {
  display: block;
  max-width: 100%;  /* resizes to fit width of page */
  height: auto;     /* keeps aspect ratio */
  border-radius: 12px; /* optional rounded corners */
}

