html,
body {
  background: center/128px url("assets/img_bg_snowflake.png");

  width: 100%;
  height: 100%;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#header-box {
  display: flex;
  justify-content: center;
  align-self: center;

  width: 1024px;
  height: 80px;

  margin-top: 16px;

  background-color: #fff0cc;

  border: 12px solid #e60f0f;
  border-radius: 16px;
}

#header-text {
  color: #e60f0f;
}

.header-text-small {
  color: black;

  font-family: Arial;
  font-size: 16pt;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 64px 0;

  width: 1024px;
}

.zone {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 16px;

  background-color: #fff0cc;

  border: 16px solid #e60f0f;
  border-radius: 16px;
}

.inner-description {
  align-self: center;
  margin-top: 32px;
  margin-bottom: 0;

  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  font-size: 20pt;
}

.inner-image {
  padding: 24px;
  pointer-events: none; /* Avoid image picking */
}

.center-self {
  align-self: center;
}

#popup {
  width: 1024px;
  min-height: 320px;
}

#popup::backdrop {
  background-color: #00000088;
}

#popup-close {
  position: absolute;

  width: 32px;
  height: 32px;

  background-color: white;

  float: right;

  border: 3px solid black;
  border-radius: 0;
}

#popup-close:hover {
  cursor: pointer;
  background-color: lightgrey;
}

#popup-content {
  display: flex;
  flex-direction: column;

  margin-top: 16px;
}

#popup-title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 800;
}

#popup-description {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#popup-image {
  align-self: center;
  border: 8px solid black;
  border-radius: 16px;
}

#popup-qa {
}

#popup-qb {
}

.popup-question {
  margin-bottom: 8px;

  background-color: white;

  border: 3px solid black;
  border-radius: 0;
}

.popup-question:hover {
  cursor: pointer;
  background-color: grey;
}

.popup-sticky-note {
  border: 3px solid #9c6002;
  background-color: #eabc0d;
}

.popup-keypad {
  width: 320px !important;

  border: 2px solid #575757;
  background-color: #8c8c8c;
}

#form-dial {
  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 16px;
}

#input-dial {
  width: 120px;
  pointer-events: none;
}

.dial-button {
  width: 40px;
}

#form-code {
  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 16px;
}

#input-code {
  width: 120px;
  pointer-events: none;

  background-color: #81bb7a;
  border: 2px solid #1b410b;

  text-align: center;
}

.code-button {
  width: 40px;

  border: 1px solid #575757;
  background-color: #8c8c8c;
}

.code-button:hover {
  cursor: pointer;
  background-color: #575757;
}

/* Fonts */
.allerta-stencil {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;

  align-self: center;
}

.national-park {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Items */
#items {
  align-self: start;
  width: 896px;
}

.item {
  position: absolute;
  cursor: grab;
  text-align: center;
  user-select: none;
}

.item.dragging {
  cursor: grabbing;
}

.item-img {
  pointer-events: none;
}
