.kablammo-title-text {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('images/flipped-beach.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 100pt;
    color: white;
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.415);
    z-index: -1;
}

#first-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 140px;
    z-index: 1;
}

#text-wrapper {
    display: block;
    text-align: center;
    width: 300px;
    margin: 20px;
    /* margin-right: 200px; */
    padding: 30px;
    color: #402f1d;
    background-color: #f6e1a8;
    border-radius: 30px 30px 50% 50%;
    box-shadow: 5px 5px 0px #1e90ff;
    border: 3px solid #1e90ff;
    /* z-index: 2; */
}

#text-wrapper button {
    background-color: #ab876c;
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition: all 0.1s;
}

#text-wrapper button:hover {
    scale: 1.05;
}

#arrow {
    width: 250px;
    height: auto;
    margin-bottom: 12%;
    transform: rotate(-15deg);
    color: white;
    transition: all 2s;
    z-index: -1;
}

svg {
    width: fit-content;
    height: fit-content;
}

#info {
    color: rgb(255, 253, 219);
}

#video-wrapper {
    width: 512px;
    height: 293px;
    overflow: hidden;
    background: black;
    border-radius: 10px;
    /* z-index: 2; */
}

.colors {
    color: #ffe6a4;
    color: #e4c89b;
    color: #baa48e;
    color: #c3ad9ce2;
}

#video-wrapper iframe {
    display: block;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border: 12px solid #ab876c;
    border-image: linear-gradient(to bottom right, #c3ad9ce2, #baa48e) 1;
}

#scene {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #c3ad9ce2, #e4c89b);
    z-index: 0;
}

.crab {
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
}

#tt1 {
    pointer-events: none;
    position: absolute;
    background-image: url('images/crab-2-3.webp');
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    transition: all 0.5s;
    z-index: 1;
}

#tt2 {
    pointer-events: none;
    position: absolute;
    background-image: url('images/tt2.webp');
    background-repeat: round;
    background-position-x: left 50px;
    background-position-y: top 50px;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    z-index: 2;
}

@media screen and (max-width: 768px){
    h1 {
        font-size: 80pt;
    }
    #first-container {
        flex-direction: column;
    }
    .arrow {
        transform: rotate(90deg);
    }

    .video-wrapper {
        width: 412px;
        height: 231px;
    }
    .video-wrapper iframe {
        width: 400px;
        height: 221px;
    }
}